* {
  margin: 0;
  padding: 0;
}
html,body{
    width: 100vw;
    height: 600vw;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar{
    display:none;
}

#bg {
  width: 100vw;
  height: 600vw;
  overflow: hidden;
  position: absolute;
  top: 0;
}

img {
  position: absolute;
}

._004 {
  mix-blend-mode: color;
}
._045 {
  mix-blend-mode: darken;
}
._052 {
  mix-blend-mode: overlay;
}
._056 {
  mix-blend-mode: hard-light;
}
._057 {
  mix-blend-mode: difference;
}
._069 {
  mix-blend-mode: color-dodge;
}
._072 {
  mix-blend-mode: color-dodge;
}
._074 {
  mix-blend-mode: color;
}
._101 {
  mix-blend-mode: hard-light;
}
._104 {
  mix-blend-mode: exclusion;
}
._109 {
  mix-blend-mode: color-burn;
}
._110 {
  mix-blend-mode: screen;
}
._111 {
  mix-blend-mode: screen;
}
._123 {
  mix-blend-mode: darken;
}
._126 {
  mix-blend-mode: color-burn;
}
._146 {
  mix-blend-mode: saturation;
}
._147 {
  mix-blend-mode: difference;
}